.resource-table {
  width: 100%;
  border-collapse: collapse;
  
}
.resource-table thead {
  color: rgb(136,0,0);
  font-size: 110%;
  font-weight: bold;
}
.resource-table tr {
  border-bottom: 1px solid #000;
}
.resource-table th {
  text-align: center;
}
.resource-table td {
  text-align: center;
}
.resource-table i {
  color: rgb(35, 47, 62);
}
.resource-table button {
  background-color: transparent;
  border: none;
}
